.container {
  width: 100%;
  overflow-x: hidden;
}

@keyframes infiniteScroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(0px - 50%));
  }
}

.horizontalScrollingWrapper {
  display: flex;
  width: 1000px;
  animation-name: infiniteScroll;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.wrapper0 {
  animation-duration: 20s;
}

.wrapper1 {
  animation-duration: 10s;
}
.wrapper2 {
  animation-duration: 15s;
}
.wrapper3 {
  animation-duration: 25s;
}

.horizontalScrollingItem {
  white-space: nowrap;
  display: flex;
  align-items: center;
}
