.landingTextWrapper {
  @apply w-full sm:w-[80vw] lg:w-[70vw];
  @apply flex flex-row flex-wrap justify-evenly items-center content-center gap-2;
  @apply md:flex-col md:justify-center md:flex-nowrap md:items-start;
  @apply h-screen min-h-screen md:h-auto;
  margin-bottom: 72px;
}

/* parallax */
.parallax {
  background-image: url("https://www.w3schools.com/howto/img_parallax.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* film list */
.filmListOuterWrapper {
  height: 70vh;
}

.filmListWrapper {
  @apply flex flex-col sm:flex-row;
  @apply mt-32 sm:mt-0;
  @apply gap-6 md:gap-8;
}

/* custom cursor */
.filmCardWrapper {
  cursor: none;
  @apply bg-transparent md:bg-black;
}

.imageCard {
  @apply flex flex-col gap-2 md:block;
}

/* image list */
.photoListWrapper {
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  scroll-snap-type: y mandatory;
  gap: 32px;
  @apply h-auto md:h-[90vh];
  @apply overflow-visible md:overflow-scroll;
}

.photoCardWrapper {
  height: 90vh;
  display: flex;
  align-items: center;
  @apply w-full sm:w-auto;
  @apply block sm:flex;
  @apply h-auto md:h-[90vh];
}

.photoCardOuterWrapper {
  @apply w-full flex justify-center md:w-auto md:block;
  scroll-snap-align: center;
}

/* image slide */
.slideWrapper {
  @apply flex items-center justify-between;
  @apply overflow-scroll sm:overflow-visible;
  cursor: grab;
}

.imageListWrapper {
  display: flex;
  @apply w-auto sm:w-[80vw];
  @apply overflow-visible sm:overflow-hidden;
}

.imageOuterWrapper {
  min-width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  @apply min-w-[100vw] sm:min-w-[80vw];
}

.imageInnerWrapper {
  width: 100%;
  @apply block sm:flex;
  justify-content: center;
}

@media (orientation: portrait) {
  .filmListOuterWrapper {
    @apply pt-32 md:pt-48;
  }

  .imageListWrapper {
    @apply w-auto overflow-visible sm:w-[85vw];
  }

  .imageOuterWrapper {
    @apply min-w-[100vw] sm:min-w-[85vw];
  }
}
